<div class="language-picker-area ">

  <div class="time-sch-wrapper " [style.height]="maxHeight">
    <div class="time-sch-header-wrapper ">
      <div class="time-sch-period-container ">
        <button mat-raised-button color="primary" *ngIf="showGoto" (click)="dp.open()">Go To</button>
        <mat-form-field class="cdk-visually-hidden"  appearance="outline">
          <input matInput [matDatepicker]="dp" hidden (dateChange)="gotoDate($event.target.value)">
          <mat-datepicker #dp disabled="false"></mat-datepicker>
        </mat-form-field>
     
        <button  mat-raised-button color="primary" *ngIf="showToday" (click)="gotoToday()">{{text.TodayButton}}</button>
        <button  mat-raised-button color="primary" (click)="previousPeriod()">{{text.PrevButton}}</button>
        <button  mat-raised-button color="primary" (click)="nextPeriod()">{{text.NextButton}}</button>
  
      </div>
  
      <div class="time-sch-time-container mb-1 ">
        <button  mat-raised-button color="primary"
        *ngFor="let period of periods"
        [ngClass]="period.classes"
        (click)="changePeriod(period)"
        [title]="period.tooltip? period.tooltip : ''"
        >
        {{period.name}}
        </button>
      </div>
  
      <h3 class="text-center m-0">
        {{ start.locale(locale).format(headerFormat) + ' - ' + end.locale(locale).format(headerFormat)}}
      </h3>
    </div>
  
    <div class="time-sch-table-wrapper  ">
      <table class="time-sch-table " >
  
        <tr *ngFor="let timeFrameHeader of header; let i = index; trackBy: trackByFn">
  
          <td class="time-sch-section text-center" *ngIf="i === 0" [rowSpan]="periods.length">
            {{text.SectionTitle}}   
        
          </td>
  
          <td class="time-sch-section text-center" *ngIf="i === 0" [rowSpan]="periods.length">
            {{text.SectionProfile}} 
        
          </td> 
  
          <td class="text-center "
              *ngFor="let dateTime of timeFrameHeader.headerDetails; trackBy: trackByFn"
              [colSpan]="dateTime.colspan"
              [title]="dateTime.tooltip? dateTime.tooltip : ''">
             {{dateTime.name}} 
          </td>
        </tr> 
      </table>
  
      <div class="time-sch-content-wrap">
        <table class="time-sch-table">
          <!-- La directive "trackBy" est utilisée pour améliorer les performances lors de la mise à jour de la liste. -->
          <tr *ngFor="let sectionItem of sectionItems; trackBy: trackByFn"
              [style.height]="sectionItem.minRowHeight + 'px'">
              <td class="time-sch-section text-center" #sectionTd
              (click)="events.SectionClickEvent ? events.SectionClickEvent(sectionItem.section, $event) : false"
              (contextmenu)="events.SectionContextMenuEvent ? events.SectionContextMenuEvent(sectionItem.section, $event) : false"
              [style.cursor]="events.SectionClickEvent ? 'pointer' : ''"
              [title]="sectionItem.section.tooltip? sectionItem.section.tooltip : ''"
            >
            {{sectionItem.section.name}}
          </td>
          <td class="time-sch-section text-center" >{{sectionItem.section.profile}}</td>
          <!-- afficher les détails d'en-tête d'une dernière colonne dans une table HTML. -->
          
          <!-- <td *ngFor="let td of header[header.length - 1].headerDetails; trackBy: trackByFn" (click)="test(td)">
          </td> -->
            
          <td *ngFor="let td of header[header.length - 1].headerDetails; trackBy: trackByFn" (click)="onOpenDialog(task)"> </td>
          <!-- <button mat-button color="primary" (click)="openDialog()">
            openDialog
           </button>  -->
        
       <!--  <td *ngFor="let td of header[header.length - 1].headerDetails; trackBy: trackByFn" (click)="openDialog()">
          <div *ngIf="sectionItem.event">
          </div>
          <button *ngIf="!sectionItem.event"  (click)="openDialog()"></button>
        </td> -->

        </tr>          
        </table>

        <!-- <mat-dialog-actions>
          <button mat-raise-button color ="primary" (click)="openDialog()">Add Event</button>
        </mat-dialog-actions> -->
        
        <!-- <td *ngFor="let td of header[header.length - 1].headerDetails; trackBy: trackByFn" (click)="openDialog()">
          <div *ngIf="sectionItem.event">
            <div>{{sectionItem.event.title}}</div>
            <div>{{sectionItem.event.start | date:'medium'}}</div>
            <div>{{sectionItem.event.end | date:'medium'}}</div>
          </div>
          <button *ngIf="!sectionItem.event" (click)="createEvent(sectionItem)">Add Event</button>
        </td> -->
        
        <!-- <mat-dialog-actions>
          <button mat-raise-button color ="primary" (click)="openDialog()"(click)="openDialog()">Add Event</button>
        </mat-dialog-actions>
         -->



        <div class="" style="left: 404px ; border: 3px solid red;" cdkDropListGroup  >
          <div class="time-sch-section-container" (contextmenu)="events.newItemContextMenu ? events.newItemContextMenu(sectionItem, $event) : false" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="sectionItem.section" (cdkDropListDropped)="drop($event)"
              *ngFor="let sectionItem of sectionItems;  trackBy: trackByFn" 
               [style.height]="sectionItem.minRowHeight + 'px'">
              <div class="time-sch-item " mwlResizable (resizeStart)="onResizeStart($event,itemMeta)" 
              (resizeEnd)="onResizeEnd($event,itemMeta)" [enableGhostResize]="true" cdkDragBoundary=".time-sch-section-wrapper" 
              *ngFor="let itemMeta of sectionItem.itemMetas" [ngStyle]="itemMeta.item.cstyles"
                  [ngClass]="itemMeta.item.classes" (click)="events.ItemClicked ? events.ItemClicked(itemMeta.item, $event) : false" 
                  (contextmenu)="events.ItemContextMenu ? events.ItemContextMenu(itemMeta.item, $event) : false" 
                  [style.height]="minRowHeight + 'px'"
                  [style.top]="itemMeta.cssTop + 'px'" 
                  [style.left]="itemMeta.cssLeft + '%'" 
                  [style.width]="itemMeta.cssWidth + '%'">
                  <div class="time-sch-item-start" *ngIf="itemMeta.isStart"></div>
                  <div class="time-sch-item-content"  [title]="itemMeta.item.tooltip? itemMeta.item.tooltip : ''">
                      {{itemMeta.item.name}}
                  </div>

                  <div class="time-sch-item-end resize-handle-right"  (click)="test(sectionItem)" mwlResizeHandle [resizeEdges]="{ right: true }"></div>
              </div>
          </div>
  
          <div class="time-sch-current-time" *ngIf="showCurrentTime" [title]="currentTimeTitle" [style.visibility]="currentTimeVisibility" [style.left]="currentTimeIndicatorPosition"></div>
      </div>
    
      <!-- <div class="time-sch-section-wrapper" [style.left]="SectionLeftMeasure" cdkDropListGroup>
        <div class="time-sch-section-container"
             cdkDropList
             cdkDropListSortingDisabled
             [cdkDropListData]="sectionItem.section"
             (cdkDropListDropped)="drop($event)"
             *ngFor="let sectionItem of sectionItems; trackBy: trackByFn"
             [style.height]="sectionItem.minRowHeight + 'px'"
        >
          <div class="time-sch-item"
               cdkDrag
               cdkDragLockAxis="y"
               cdkDragBoundary=".time-sch-section-wrapper"
               [cdkDragData]="itemMeta.item"
               [cdkDragDisabled]="!allowDragging"
               *ngFor="let itemMeta of sectionItem.itemMetas"
               [ngClass]="itemMeta.item.classes"
               (click)="events.ItemClicked ? events.ItemClicked(itemMeta.item) : false"
               (contextmenu)="events.ItemContextMenu ? events.ItemContextMenu(itemMeta.item, $event) : false"
               [style.height]="minRowHeight + 'px'"
               [style.top]="itemMeta.cssTop + 'px'"
               [style.left]="itemMeta.cssLeft + '%'"
               [style.width]="itemMeta.cssWidth + '%'"
          >
            <div class="item-drag-placeholder"
                 *cdkDragPlaceholder
                 [style.height]="(minRowHeight - 6) + 'px'"
                 [style.left]="itemMeta.cssLeft + '%'"
                 [style.width]="'calc('+ itemMeta.cssWidth + '% - 6px)'"
            ></div>
            <div class="time-sch-item-start" *ngIf="itemMeta.isStart"></div>
            <div class="time-sch-item-content"
                 [title]="itemMeta.item.tooltip? itemMeta.item.tooltip : ''">
              {{itemMeta.item.name}}
            </div>
            <div class="time-sch-item-end" *ngIf="itemMeta.isEnd"></div>
          </div>
        </div>

        <div class="time-sch-current-time"
             *ngIf="showCurrentTime"
             [title]="currentTimeTitle"
             [style.visibility]="currentTimeVisibility"
             [style.left]="currentTimeIndicatorPosition"
        ></div>
      </div> -->
  
      </div>
    </div>
    
  </div>

