.add-task {
  padding: 10px 12px 0 12px;

}

.header {
  background: #1551eb;
  color: #FFFFFF;

}

.header h1 {
  background: rgb(2, 136, 209);

  padding: 20px 12px 20px 12px;
}

::ng-deep .mat-mdc-dialog-container {
  position: absolute;
  display: block;
  left: 41%;
  right: 50%;
  height: 68%;
  width: 26%;
  top: 11%;
}
