
<div class="header">
  <h1>Créer une affectation</h1>
</div>

<div class="add-task" >
<div class="content" >
  <form [formGroup]="taskForm" (submit)="addTask()"  >
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" >
        <mat-option *ngFor="let n of typeOptions" [value]="n.type">{{n.type}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field *ngIf="taskForm.get('type').value === 'Affecté'">
     <mat-label>Nom de l'affectation</mat-label>
     <input matInput placeholder="Rechercher une affectation" formControlName="title" [matAutocomplete]="auto" />
     <mat-autocomplete #auto="matAutocomplete">
       <mat-option *ngFor="let ITask of filteredTasks | async" [value]="ITask.title">
         {{ ITask.title }}
       </mat-option>
     </mat-autocomplete>
     </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Collaborateur</mat-label>
      <input matInput placeholder="Rechercher un collaborateur" [formControl]="taskForm.controls.employee" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let employee of filteredEmployees | async" [value]="employee.name">
          {{ employee.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
   
    <mat-form-field appearance="fill">
      <mat-label>Entrez une plage de dates</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Date début" formControlName="startDate">
        <input matEndDate placeholder="Date fin" formControlName="endDate">
      </mat-date-range-input>
      <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
      ></textarea>
    </mat-form-field> 
 
    <button
      [disabled]="taskForm.invalid"
      type="submit"
      mat-raised-button
      color="primary"
     >
     Valider
    </button>
    <button mat-raised-button color="Warn" type="button" (click)="onNoClick()" >Annuler</button>

  </form>
</div>
</div>