
 <!-- <header class="jumbotron">
   <p>{{ content }}</p> 
 </header> --> 

<div class="landing-page">
    <span class="slogan">
      <span>
        Everyone can become a master of time management
      </span>
      <br />
      <span></span>
    </span>
    <span class="introduce">
      <span>
        Simple operations can achieve time task management between teams.
      </span>
      <br />
      <span></span>
    </span>
    <img src="./assets/agenda.jpg" alt="agenda figure" class="image" />
    <div class="report-part"></div>

  
  </div> 

  
