.update-task {
  padding: 10px 12px 0 12px;

}


.header {
  background: #f3f5fa;
  height: 80px;
}

.header h1 {
  padding: 15px 0px 19px 12px;
  font-size: 2rem;
}

.header button{
  padding: 5px;
  left: 293px;
  top: -74%;
}