/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

  .mat-form-field-flex {
    background-color: white !important;
    padding-left: 0 !important;
  }
  
  mat-form-field {
    width:100%;
  }
  textarea {
    height: 150px !important;
  }


body {
  margin: 0;
}

mat-tab-body {
  margin: 8px;
}